<form #loginForm="ngForm"  (ngSubmit)="onSubmit()" class="text-center border border-light p-5">
   
    <p>{{ model | json }}</p>
        <p class="h4 mb-4">Sign In</p>
            <div class="col">
                <p>Username:
                <input type="text" required [(ngModel)]="model.name" name="username" /></p>
                <p>password:
                <input type="password" required [(ngModel)]="model.password" name="password" /></p>
            </div>
       
            <button mdbBtn color="info"  block="true" class="my-4" type="submit" [disabled]="!loginForm.form.valid || submitted">Log in</button>
        
    
    </form>
    
